/*body, html
{
    background-color: #EDEDED !important;
}*/

@media (max-width: 600px)
{
    html{

    font-size:8px;
  
  }
}

@media (max-width: 900px)
{
  .row
  {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0em;
  }
}

/*Changing progressbar.css skill bar span for colorless skill*/
@media (max-width: 900px)
{
  .skillbar-title span {
  display:block;
  background:none;
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

}

@media (max-width: 900px)
{
  span.badge
  {
     min-width: initial; 
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: normal; 
     height: auto; 
    color: #757575;
    float: right;
    box-sizing: border-box;
  }
}

.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;

    /*margin-bottom: 50px;*/
}

.intro h1
{
    font-weight: 900;
    text-transform: uppercase;
}

.white-text
{
  color: white;
}

.side-nav-color
{
  background:rgba(0,0,0,0.53);
}

.side-nav-headers
{
  font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: bold;
}
.side-nav-menu-items
{
  font-weight:  300 !important;
}
.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

@media (min-width: 600px)
  {
    .intro-parallax
    {      
        height:100%;
      }

}

@media (max-width: 600px)
  {
    .parallax-container
    {
      height: 25rem;
    }
  }


.intro-font-holder
{
    padding-left: 20%;
    padding-right: 20%;
}
@media (max-width:600px)
{
  .intro-font-holder
  {
      padding-left: 1em;
      padding-right: 1em;
  }

}
.intro-font
{
    font-size: 1.42em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width:600px)
{
    .intro-font
      {
          font-size: 2em;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }      

}



.intro-child
{
    padding-top: 4%;
    padding-bottom: 4%
}



.full-name-style
{
    padding-top: 27%;
    padding-right: 20%;
    text-align: right;
}

.section-image
{
    filter:background(50%) !important;
}

.text-left-align
{
    text-align: left;
}

.remove-border
{
    border: 0px;
}

.remove-box-shadow
{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
}

.remove-padding
{
    padding: 0px !important;
}

.remove-background
{
    background: none;
}

.card-image-size
{
    height: 17.85rem;
}


.v-center
{
    padding-bottom: 2% !important;
    padding-top: 2% !important;
}
/*.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}*/

.pin-image-dim
{
     width: 20px;
    margin-bottom: -4px;
}

.main-card-background
{
    background-color: #8d0000;
}

.remove-badge-margin
{
    margin-top: 0 !important;
}

.remove-anchor-color
{
    color: white;
}

.underline
{
    text-decoration: underline;
}

.divider-background
{
    background-color: #a24848 !important;
}

.padding-top-10
{
    padding-top: 10px;
}

.collection a.collection-item
{
    color: #2979ff;
}

.margin-center
{
    margin-top: 2%
}

.image-size-25
{
    width: 25px;
}

.margin-bottom--3px
{
    margin-bottom: -3px;
}

.scroll-window
{
    position: fixed;
    z-index: 1;
    margin-top: 10%;
    width: 20% !important;
    margin-left: 75%;
}

.table-of-contents1.fixed {
  position: fixed;
}

.table-of-contents1 li {
  padding: 2px 0;
}

.table-of-contents1 a {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 20px;
  height: 1.5rem;
  /*line-height: 1.5rem;*/
  letter-spacing: .4;
  display: inline-block;
}

.table-of-contents1 a:hover {
  /*color: #a8a8a8;
  padding-left: 19px;
  border-left: 1px solid #ee6e73;*/
}

.table-of-contents1 a.active {
  /*font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid #ee6e73;*/
}

.table-of-contents1 a.active circle{
  font-weight: 500;
  padding-left: 18px;
  /*border-left: 2px solid #ee6e73;*/
  fill:green;
}

.invisible
{
    display: none;

}

.visible
{
    direction: block;
}

.margin-left-60
{
    margin-left: 60% !important;
}

.scroll-items-label-style
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: large;
    margin-left: -99px !important;
}

.padding-bottom-5
{

    padding-bottom: 5px !important;
    padding-top: 5px    !important;
}

.padding-top-5
{
    padding-top: 5px    !important;
}
.anim
{
     animation-name: example;
     animation-duration: 4s;
}

.scroll-down
{
    padding-left: 50%;
    margin-top: 5%;
}

.z-index-1
{
    z-index: 1;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


@keyframes example {
    from {color: red;}
    to {color: yellow;}
}
